doctype html
html
    head 
        title Self-Destructing Messages
        link(rel="stylesheet" href="/index.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")
        script.
            function showAlert(event) {
                const messageContent = document.querySelector('textarea[name="content"]').value;
                if (messageContent) {
                    alert('Message saved!');
                }
            }
    body
        div.outer-container
            h1.burn-messenger-header Burner Messenger
            div.form-container
                form(action="/create" method="POST" onSubmit="showAlert()")
                    div.text-area-container
                        textarea.message-text-area(name="content")
                        button.submit-btn(type="submit") Save Message
                div.messages-container
                    h2.messages-header Messages
                    h3.messages-count You have #{messages.length} unread messages
                    li.messages
                        each message in messages 
                            div.message-link
                                a(href=`/message/${message.id}`).message-link-font
                                    i.fa-regular.fa-envelope
                                    |  #{dayjs(message.timestamp).format('MMM-DD-YY h:mm:ssa')}
