doctype html
html
    head 
        title Message Incinerator: Self-Destructing Messages
        link(rel="stylesheet" href="/index.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")
        script.  
            function validateForm() {
                const text = document.querySelector('textarea[name="message"]');
                if (text.value.trim() === "") {
                    alert('Please enter a message before submitting')
                    return false;
                }
                return true;
            }
    body
        div.outer-container
            img(src="/logo.svg" alt="Website Logo" class="logo")
            div.form-container
                form(action="/create" method="POST" onSubmit="return validateForm()")
                    div.text-area-container
                        textarea.message-text-area(name="message")
                        button.submit-btn(type="submit") Save Message
                div.messages-container
                    h2.messages-header My saved messages
                    h3.messages-count You have #{messages.length} unread messages
                    li.messages
                        each message in messages 
                            div.message-link
                                a(href=`/message/${message.id}`).message-link-font
                                    i.fa-regular.fa-envelope
                                    |  #{dayjs(message.timestamp).format('MMM-DD-YY h:mm:ssa')}
