doctype html
html
  head
    title Message #{message.id}
  body
    h1 Message #{message.id}
    h3 *** Message will self destruct after navigating away from this page ***
    p= message.message
    
    a(href='/') Back to Messages