* {
    font-family: 'Montserrat', sans-serif;
}

@media screen and (min-width:1600px) {
    body {
        width: 1600px;
        margin: 0 auto;
    }

    .outer-container {
        background-color: rgb(163, 182, 220);
        border: solid 2px rgb(0, 0, 110);
    }

    body {
        background-color: rgb(218, 220, 245);
    }
}

body {
    background-color: rgb(218, 220, 245);
}

.outer-container {
    border: solid 2px rgb(0, 0, 110);
    background-color: rgb(163, 182, 220);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow-y: auto;
    padding-top: 10px;
    padding-bottom: 50px;
}

.message-incinerator-header {
    color: rgb(0, 0, 90);
    font-size: 3rem;
    margin-bottom: 40px;
}

.logo {
    width: 400px;
    height: 200px;
}

.form-container {
    /* border: solid;
    border-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px;
}

.text-area-container {
    /* border: solid;
    border-color: green; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message-text-area {
    width: 500px;
    height: 200px;
    border-radius: 4px;
    font-size: 1.5rem;
    padding: 10px;
    box-shadow: 2px 2px 6px rgb(99, 132, 240);
}

.submit-btn {
    background-color: rgb(52, 52, 148);
    margin-top: 20px;
    width: 150px;
    height: 30px;
    font-weight: 600;
    border-radius: 4px;
    color: white;
    border: solid 1px blue;
}

.submit-btn:hover {
    cursor: pointer;
    background-color: rgb(90, 90, 225);

}

.messages-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.messages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -10px;
}

.message-link {
    margin-top: 5px;
    font-size: 1rem;
    border: solid;
    width: 500px;
    height: 30px;
    padding: 5px;
    background-color: rgb(214, 223, 246);
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgb(99, 132, 240);
}

.message-link:hover {
    background-color: rgb(162, 186, 247);
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.message-link-font {
    text-decoration: none;
    color: rgb(3, 6, 88);
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-regular.fa-envelope {
    font-size: 1.5rem;
    margin-right: 10px;
}

.messages-header {
    color: rgb(0, 0, 90);
    font-size: 2rem;
    text-decoration: underline;
}

.messages-count {
    font-size: 1rem;
    color: rgb(0, 0, 90);
    margin-top: -10px;
}

.dark-mode-button {
    margin-right: -1300px;
    background-color: rgb(67, 67, 187);
    color: white;
    border-radius: 4px;
}

.dark-mode {
    background-color: rgb(2, 2, 105);
    color: white;
}

.dark-mode .outer-container {
    background-color: rgb(2, 2, 105);
}

.dark-mode .messages-header {
    color: white;
}

.dark-mode .messages-count {
    color: white;
}