* {
    font-family: 'Montserrat', sans-serif;
}

@media screen and (min-width:1600px) {
    body {
        width: 1600px;
        margin: 0 auto;
    }

    .outer-container {
        background-color: rgb(163, 182, 220);
    }

    .message-outer-container {
        background-color: rgb(163, 182, 220);
        border: solid;
        border-color: rgb(150, 150, 243);
    }

    body {
        background-color: rgb(232, 233, 246);
    }
}

body {
    background-color: rgb(232, 233, 246);
}

.outer-container {
    border: solid;
    border-color: rgb(150, 150, 243);
    background-color: rgb(163, 182, 220);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding-top: 50px;
}

.message-incinerator-header {
    color: rgb(0, 0, 90);
}

.form-container {
    border: solid;
    border-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px;
}

.text-area-container {
    border: solid;
    border-color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message-text-area {
    width: 500px;
    height: 200px;
    border-radius: 4px;
    font-size: 1.5rem;
    padding: 10px;
}

.submit-btn {
    background-color: rgb(8, 0, 255);
    margin-top: 20px;
    width: 150px;
    height: 30px;
    font-weight: 600;
    border-radius: 4px;
    color: white;
    border: none;
}

.messages-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.messages {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.message-link {
    margin-top: 5px;
    font-size: 1rem;
}

.message-link-font {
    text-decoration: none;
    color: rgb(3, 6, 88);
}

.fa-regular.fa-envelope {
    font-size: 1.5rem;
}