@media screen and (min-width:1200px) {
    body {
        width: 1200px;
        margin: 0 auto;
    }

    .message-outer-container {
        border: solid 2px rgb(0, 0, 110);
        background-color: rgb(163, 182, 220);
    }

    body {
        background-color: rgb(232, 233, 246);
    }
}

body {
    background-color: rgb(232, 233, 246);
}

.message-outer-container {
    background-color: rgb(163, 182, 220);
    border: solid 2px rgb(0, 0, 110);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 400px;
    height: 200px;
    margin-top: 20px;
}

.message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.message {
    font-size: 3rem;
    color: rgb(1, 1, 114);
}

.message-logo-timestamp {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(0, 0, 90);
    font-size: 1rem;
}

.message-message {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fa-solid.fa-envelope-open-text {
    font-size: 3rem;
    margin-right: 20px;
}

.back-to-messages {
    text-decoration: none;
    color: white;
}
