@media screen and (min-width:1200px) {
    body {
        width: 1200px;
        margin: 0 auto;
    }

    .message-outer-container {
        border: solid 2px rgb(0, 0, 110);
        background-color: rgb(163, 182, 220);
    }

    body {
        background-color: rgb(218, 220, 245);
    }
}

@media screen and (max-width: 600px) {
    .fa-solid.fa-envelope-open-text {
        margin-left: 10px;
    }

    .timestamp {
        font-size: 1.5rem;
    }
}

body {
    background-color: rgb(218, 220, 245);
}

.message-outer-container {
    background-color: rgb(163, 182, 220);
    border: solid 2px rgb(0, 0, 110);
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.logo {
    width: 400px;
    height: 200px;
    margin-top: 40px;
}

.message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 10px; */

    /* border: solid 2px red; */
}

.message {
    font-size: 3rem;
    color: rgb(1, 1, 114);
    padding: 20px;
    word-wrap: break-word;
}

.message-logo-timestamp {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(0, 0, 90);
    font-size: 1rem;

    /* border: solid 2px green; */
}

.message-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(228, 232, 253);
    width: 100%;
    border-radius: 4px;
    margin-top: 20px;

    /* border: 2px solid yellow; */
}

.fa-solid.fa-envelope-open-text {
    font-size: 3rem;
    margin-right: 20px;
    color: rgb(227, 225, 247);
}

.timestamp {
    color: rgb(2, 2, 119);
}

.back-to-messages {
    text-decoration: none;
    color: white;
}

.back-to-container {
    margin-top: 30px;
}

.countdown-message {
    color: red;
    display: flex;
    flex-direction: column;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* border: 2px solid purple; */
}

.warning-message {
    margin-top: 40px;
    font-size: 1.1rem;
}

#countdown {
    font-weight: 600
}
