* {
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
    /* -webkit-font-smoothing: initial; */
}

.outer-container {
    border: solid;
    border-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container {
    border: solid;
    border-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-area-container {
    border: solid;
    border-color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message-text-area {
    width: 500px;
    height: 200px;
}

.submit-btn {
    background-color: red;
    margin-top: 20px;
    width: 200px;
}

.messages-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.messages {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.message-link {
    margin-top: 5px;
}